@model ResultAboutDto

<div class="about-area section-padding2">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="about-caption mb-50">
               
                    <div class="section-tittle mb-35">
                        <span>Biz Kimiz?</span>
                        <h2>Bilgi Akademisi Kimdir</h2>
                    </div>
                    <p>@Html.DisplayFor(x => x.Description)</p>
                    <ul>
                        <li><span class="flaticon-business"></span> @Html.DisplayFor(x => x.Item1)</li>
                        <li><span class="flaticon-communications-1"></span> @Html.DisplayFor(x => x.Item2)</li>
                        <li><span class="flaticon-graduated"></span> @Html.DisplayFor(x => x.Item3)</li>
                        <li><span class="flaticon-tools-and-utensils"></span> @Html.DisplayFor(x => x.Item4)</li>
                    </ul>
                    <a href="/About/Index" class="btn">Daha Fazlasına Ulaş</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">

                <div class="about-img ">
                    <div class="about-font-img d-none d-lg-block">
                        <img src="@Html.DisplayFor(x=>x.ImageUrl1)" alt="">
                    </div>
                    <div class="about-back-img ">
                        <img src="@Html.DisplayFor(x=>x.ImageUrl2)" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
