@model List<ResultAboutDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    int Count = 0;
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title m-b-0">Hakkımızda Tablosu(@Model.Count())</h5>
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead class="thead-light">
                        <tr>                           
                            <th scope="col">#</th>
                            <th scope="col">Resim-1</th>
                            <th scope="col">Resim-2</th>
                            <th scope="col">Açıklama</th>
                            <th scope="col">Madde-1</th>
                            <th scope="col">Madde-2</th>
                            <th scope="col">Madde-3</th>
                            <th scope="col">Madde-4</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody class="customtable">
                        @foreach(var Abouts in Model)
                        {
                            Count++;

                            <tr>
                                <td>@Count</td>
                                <td><img src="@Abouts.ImageUrl1" style="height:75px;width:75px;"/></td>
                                <td><img src="@Abouts.ImageUrl2" style="height:75px;width:75px;"/></td>
                                <td>@Abouts.Description</td>
                                <td>@Abouts.Item1</td>
                                <td>@Abouts.Item2</td>
                                <td>@Abouts.Item3</td>
                                <td>@Abouts.Item4</td>
                                <td>
                                    <a asp-action="DeleteAbout" asp-controller="About" asp-area="Admin" asp-route-id="@Abouts.AboutId" class="btn btn-outline-danger">Sil</a>
                                    <a asp-action="GetAbout" asp-controller="About" asp-area="Admin" asp-route-id="@Abouts.AboutId" class="btn btn-outline-danger">Güncelle</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <a asp-action="CreateAbout" asp-controller="About" asp-area="Admin" class="btn btn-outline-primary">Yeni Hakkımızda</a>
    </div>
</div>