@model List<ResultBlogCategoryDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    int Count = 0;
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title m-b-0">BlogCategory Tablosu(@Model.Count())</h5>
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Kategori Adı</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody class="customtable">
                        @foreach (var BlogCategories in Model)
                        {
                            Count++;

                            <tr>
                                <td>@Count</td>
                                <td>@BlogCategories.Name</td>
                                <td>
                                    <button onclick="DeletedBlogCategory(this)" data-blogcategory-id="@BlogCategories.BlogCategoryId" data-category-name="@BlogCategories.Name" class="btn btn-outline-danger">Sil</button>
                                    <a asp-action="GetBlogCategory" data-blogcategory-id="@BlogCategories.BlogCategoryId" asp-controller="BlogCategory" asp-area="Admin" asp-route-id="@BlogCategories.BlogCategoryId" class="btn btn-outline-warning">Güncelle</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <a asp-action="CreateBlogCategory" asp-controller="BlogCategory" asp-area="Admin" class="btn btn-outline-primary">Yeni Blog Kategorisi</a>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script>
    function DeletedBlogCategory(button) {
        var id = button.getAttribute("data-blogcategory-id");
        var Metin = button.getAttribute("data-category-name");

        Swal.fire({
            title: Metin + "'yı Silmek İstediğinize Emin misiniz?",
            text: "Bu işlemi geri alamazsın!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Evet, Sil!",
            cancelButtonText: "Hayır, Silme!",
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = "https://localhost:7046/Admin/BlogCategory/DeleteBlogCategory/" + id;
            }
        });
    }
</script>